window, body, p, span, h1, h2, h3, h4, header, footer, a, pre {
    margin: 0;
    padding: 0;
    font-family: monospace, verdana;
    font-weight: 0;
    color: #282828;
}

.green {
    color: #66CC66;
}

h2, h3, h4, pre, p {
    margin-bottom: 1em;
}

h1 {
    font-size: 68px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

body > *, body > div > div {
    margin: 1em auto 0 auto;
    width: 100%;
}

body > div > div {
    margin: 0 auto;
}

body > div {
    margin: 0;
    padding:1em;
    background: #383838;
    width: 100%;
    color: #e0e0e0;
}

body > div * {
    color: #f0f0f0;
    width: 100%;
}

main, div.main {
    display: block;
    padding: 0 1em;
}

header, footer, div.header, div.footer {
    margin: 1em auto 1em auto;
}

header, div.header {
    background: #BB5544;
    margin: 0 0 1em 0;
    display: block;
    width: 100%;
    padding: 2em 0;
    color: #fffafa;
}

div.header * {
    color: #fffafa;
}

header > div, div.header > div {
    margin: 0 auto;
    width: 100%;
    padding: 0 1em;
}

header > div > i, div.header > div > i {
    font-size: 2em;
}

.indent {
    margin-left: 0;
}

.indent h4 {
    margin: 0;
    background: #484848;
    padding: 0.5em 1em;
    color: #f0f0f0;
}

code * {
    font-family: monospace;
}

.compat {
    color: #ffff;
    font-size: 18px;   
    margin: 0 0 -1em 0;   
    padding:1em 0 0 0;
}

@media only screen and (min-width: 800px) {

    main, div.main {
        padding: 0;
    }

    body > div {
        padding: 1em 0;
    }

    .compat {
        text-align: right;
        margin: 0;
        margin-bottom: -1em;  
        padding: 0;
    }

    .indent {
        margin-left: 2em;
    }

    header > div, div.header > div {
        width: calc(800px - 2em);
    }
    body > *, body > div > div {
        width: 800px;
    }
    header, div.header {
        width: 100%;
    }
}

@media only screen and (min-width: 1400px) {
    header > div, div.header > div {
        width: calc(1400px - 2em);
    }
    body > *, body > div > div {
        width: 1400px;
    }
    header, div.header {
        width: 100%;
    }
}